#!/usr/bin/python
import sys
import fileinput

# Little exec to set or clear the passwords in the property files, only wrote this so
#   that I could put the property files up in git, just make sure this file is in the
#   .gitignore file
# -----------------------------------------------------------------------------------
theMap = {"asset":["asset_stub.properties","realPw,"atpPass$"], 
          "billing":["billing_stub.properties","realPw","billingPassword$"],
          "claim":["claim_stub.properties","realPw","claimPassword$"],
          "db":["db_stub.properties","realPw","dbPassword$"],
          "sap":["sap_stub.properties","realPw","sapPassword$"],
          "sbliw":["sbliw_stub.properties","realPw","sbliwPassword$"],
          "scheduling":["scheduling_stub.properties","realPw","schedulingPassword$"]}

goodData = False
if (len(sys.argv) >= 3):
  theVerb = sys.argv[1]
  theAction = sys.argv[2]
  if ((theVerb == "all"  or theVerb in theMap) and (theAction == "set" or theAction == "clear")):
    goodData = True

if (goodData == False):
  print("Must pass 'verb' and 'set | clear'")
  print("verb can be 'all' or one of the following:") 
  for theKey in theMap:
    print(theKey)
  quit()

for theKey in theMap:
  if (theKey == theVerb or theVerb == "all"):
    file2Change = theMap[theKey][0]
    if (theAction == "set"):
      oldValue = theMap[theKey][2]
      newValue = theMap[theKey][1]
    else:
      oldValue = theMap[theKey][1]
      newValue = theMap[theKey][2]
    for inputLine in fileinput.input(file2Change,inplace=True):
      print inputLine.replace(oldValue,newValue),
    print("File: " + file2Change + " processed")


